---
import { getCollection } from 'astro:content';
import dayjs from 'dayjs';
import AdvancedFormat from 'dayjs/plugin/advancedFormat';
import Base from '@layouts/Base.astro';
import Block from '@components/Block.astro';
// eslint-disable-next-line import/no-named-as-default-member
dayjs.extend(AdvancedFormat);

const articles = await getCollection('articles');
---

<Base title="Posts" description="All my little notes">
	<ul class="flex flex-col gap-2">
		{
			articles
				.filter((article) => !article.data.hidden)
				.map((article) => (
					<li>
						<Block
							title={article.data.title}
							description={article.data.description}
							link={`/blog/${article.slug}`}
							tags={article.data.tags ?? []}
							subheading={`Posted on ${dayjs(article.data.created).format('Do MMMM YYYY [at] HH:mm')}`}
						/>
					</li>
				))
		}
	</ul>
</Base>
