---
import { Picture } from 'astro:assets';
import { cn } from '@lib/cn';

interface Props {
	src: string;
	description?: string;
	alt: string;
	eager?: boolean;
	height?: number;
	width?: number;
}

const { src, alt, description, eager, width, height } = Astro.props;
---

<div class={cn('flex justify-center py-2')}>
	<div class={cn('rounded-lg border-2 border-dark dark:border-light bg-light dark:bg-dark')}>
		<!-- @ts-ignore -->
		<Picture
			{src}
			{alt}
			{width}
			{height}
			loading={eager ? 'eager' : 'lazy'}
			formats={['avif', 'webp', 'jpg']}
			pictureAttributes={{ class: cn('flex justify-center') }}
			class={cn('rounded-t-md')}
		/>
		<p class={cn('p-2 text-center bg-lightHighlight dark:bg-darkHighlight rounded-b-lg')}>
			{description ?? alt}
		</p>
	</div>
</div>
