---
import { Picture } from 'astro:assets';
import { cn } from '@lib/cn';

interface Props {
	src: string;
	description?: string;
	alt: string;
	eager?: boolean;
}

const { src, alt, description, eager } = Astro.props;
---

<div class={cn('flex justify-center py-2')}>
	<div class={cn('rounded-lg border-2 border-dark dark:border-light')}>
		<!-- @ts-ignore -->
		<Picture
			{src}
			{alt}
			loading={eager ? 'eager' : 'lazy'}
			formats={['avif', 'webp', 'jpg']}
			pictureAttributes={{ class: cn('flex justify-center') }}
		/>
		<p class={cn('p-2 text-center')}>{description ?? alt}</p>
	</div>
</div>
