---
import { getCollection } from 'astro:content';
import Block from '@components/Block.astro';
import BodyLink from '@components/BodyLink.astro';
import Experience from '@components/Sections/Experience.astro';
import Portfolio from '@components/Sections/Portfolio.astro';
import Posts from '@components/Sections/Posts.astro';
import Base from '@layouts/Base.astro';
import { cn } from '@lib/cn';

const articles = await getCollection('articles');
---

<Base title="Emily Medhurst" description="A trans software developer doing things">
	<div class={cn('flex flex-col gap-4 text-xl')}>
		<p>
			Ello, I'm a 🏳️‍⚧️ trans software developer who's just graduated from the University of Portsmouth
			with a 1st, now working at
			<BodyLink href="https://radweb.com/">Radweb,</BodyLink> primarily developing the web application
			<BodyLink href="https://inventorybase.co.uk/">InventoryBase.</BodyLink>
		</p>
		<Portfolio />
		<Experience />
		{
			articles.length > 0 && (
				<Posts>
					<Block>
						<div class={cn('flex justify-center')}>
							<BodyLink href="/blog">See More Posts</BodyLink>
						</div>
					</Block>
				</Posts>
			)
		}
	</div>
</Base>
