@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
	--font-*: initial;
	--font-sans: 'Atkinson Hyperlegible', system-ui, sans-serif;
	--font-mono: 'Atkinson Hyperlegible Mono Variable', system-ui, monospace;

	--color-dark: #191716;
	--color-light: #f5f5f5;
	--color-darkHighlight: #2b2826;
	--color-lightHighlight: #e3e3e3;
	--color-darkStandout: #eeb5c1;
	--color-lightStandout: #70192c;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer components {
	body {
		@apply overflow-auto bg-light subpixel-antialiased dark:bg-dark;
	}

	h1 {
		@apply text-4xl font-semibold;
	}

	h2 {
		@apply text-3xl font-semibold;
	}

	h3 {
		@apply text-2xl;
	}
}
