---
import { Head } from 'astro-capo';
import { type SeoProps } from 'astro-seo-meta';
import { cn } from '@lib/cn';
import BaseHead from '@components/BaseHead.astro';
import '@fontsource-variable/jetbrains-mono';
import '@fontsource/atkinson-hyperlegible';
import '@src/base.css';
import Navbar from '@components/Navbar/Navbar.astro';

interface Props {
	title: string;
	description: string;
	seo?: SeoProps;
}

const { title, description, seo } = Astro.props;
---

<html class="dark" data-theme="catppuccin-mocha" lang="en">
	<Head>
		<BaseHead {title} {description} {seo} />
	</Head>
	<body class={cn('mx-auto h-full max-w-4xl p-6 text-dark dark:text-light dark')}>
		<Navbar />
		<main class={cn('pt-4')}>
			<slot />
		</main>
		<script is:inline>
			const getTheme = () => {
				if (window.localStorage.getItem('theme')) {
					return window.localStorage.getItem('theme');
				}
				if (window.matchMedia('(prefers-color-scheme: light)').matches) {
					return 'light';
				}
				return 'dark';
			};

			const theme = getTheme();

			if (theme === 'light') {
				document.documentElement.classList.remove('dark');
				document.documentElement.dataset.theme = 'catppuccin-latte';
				document.body.classList.remove('dark');
			}
			window.localStorage.setItem('theme', theme);
		</script>
	</body>
</html>
