---
import '@fontsource/atkinson-hyperlegible';
import '@fontsource-variable/atkinson-hyperlegible-mono';
import { Head } from 'astro-capo';
import { type Props as SeoProps } from 'astro-seo';
import type { CollectionEntry } from 'astro:content';
import { cn } from '@lib/cn';
import BaseHead from '@components/BaseHead.astro';
import Navbar from '@components/Navbar/Navbar.astro';
import '@src/base.css';

interface Props {
	title: string;
	description: string;
	article?: CollectionEntry<'articles'>;
	seo?: SeoProps;
}
const { title, description, seo, article } = Astro.props;
---

<html class="dark" data-theme="catppuccin-mocha" lang="en">
	<Head>
		<BaseHead {title} {description} {seo} {article} />
	</Head>
	<body class={cn('dark mx-auto h-full max-w-4xl p-6 text-dark dark:text-light')}>
		<script is:inline>
			const getTheme = () => {
				if (window.localStorage.getItem('theme')) {
					return window.localStorage.getItem('theme');
				}
				if (window.matchMedia('(prefers-color-scheme: light)').matches) {
					return 'light';
				}
				return 'dark';
			};

			const theme = getTheme();

			if (theme === 'light') {
				document.documentElement.classList.remove('dark');
				document.documentElement.dataset.theme = 'catppuccin-latte';
				document.body.classList.remove('dark');
			}

			if (theme) {
				window.localStorage.setItem('theme', theme);
			}
		</script>
		<Navbar />
		<main class={cn('pt-4')}>
			<slot />
		</main>
	</body>
</html>
